<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

  </head>
  <body>
      <div class="container">
      <div class="jumbotron">
        <h1>Bus Route App</h1>
        <form class="form-signin">
        <label for="startPoint" class="sr-only">Start Point</label>
        <input type="text" name="startPoint" id="start" class="form-control" placeholder="Start Point" required autofocus>
        <label for="EndPoint" class="sr-only">End Point</label>
        <input type="text" name="EndPoint" id="end" class="form-control" placeholder="End Point" required autofocus>


        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Suggest Routes</button>
         Routes: <span id = "inputPassword" ></span>
      </form>
      </div>
      </div>
  </body>
</html>
